@font-face {
  font-family: 'Nodesto';
  src: url('/assets/fonts/Nodesto Caps Condensed/Nodesto Caps Condensed.otf');
  font-weight: normal;
  font-style: normal ;
}
@font-face {
  font-family: 'Bookinsanity';
  src: url('/assets/fonts/Bookinsanity/Bookinsanity.otf');
  font-weight: normal;
  font-style: normal ;
}
@font-face {
  font-family: 'Scaly';
  src: url('/assets/fonts/Scaly Sans/Scaly Sans.otf');
  font-weight: normal;
  font-style: normal ;
}
@font-face {
  font-family: 'MrEaves';
  src: url('/assets/fonts/Mr Eaves Small Caps.otf');
  font-weight: normal;
  font-style: normal ;
}
body{
  background-image: url('/assets/marketBg.webp');
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  font-family: 'MrEaves', Times;
}
h2 {
  font-family: 'Scaly';
}